<h1><%= current_user == @user ? "Your" : "#{@user.first_name}'s"%> Goals</h1>
<% if @user.goals.empty? && @user != current_user %>
  <h2>User has no goals</h2>
  <%= render 'past_goals_table' %>
  <%= paginate @past_goals,
    param_name: :past_goals_page %>
<% elsif @user.goals.active.empty? && @user == current_user %>
  <h2><%= link_to "You have no goals! Create one!",
    new_goal_path, :method => "get" %> </h2>
    <% if @past_goals.any? %>
      <h2>Past Goals</h2>
    <%= render 'past_goals_table' %>
    <%= paginate @past_goals,
      param_name: :past_goals_page %>
    <% end %>
<% else %>
  <div class="row">
    <div class="small-12 columns">
      <h2>Active Goals</h2>
      <table>
        <tr>
          <thead>
            <th>Title</th>
            <th>Starting Point</th>
            <th>Target</th>
            <th>Goal Date</th>
          </thead>
        </tr>
          <% @active_goals.each do |goal| %>
            <tr>
              <td><%= link_to "#{goal.title}", goal_path(goal) %></td>
              <td><%= "%g" % ("%.2f" % goal.starting_point) %></td>
              <td><%= "%g" % ("%.2f" % goal.target) %></td>
              <td><%= goal.end_date.strftime("%B %d, %Y") %></td>
            </tr>
              <% if goal.percentage_complete < 50 %>
                <td COLSPAN=4><%= progress_bar(goal.percentage_complete,
                  :color => 'orange') %></td>
              <% else %>
                <td COLSPAN=4><%= progress_bar(goal.percentage_complete,
                  :color => 'green') %></td>
              <% end %>
          <% end %>
        </table>
      </div>
    </div>
      <%= paginate @active_goals, param_name: :active_goals_page %>
    <div class="row">
      <div class="small-12 columns">
        <% if @user == current_user %>
          <h2><%= link_to "Create Another Goal", new_goal_path,
            :method => "get" %></h2>
        <% end %>
      </div>
    </div>
    <% if @user.goals.past.any? %>
      <div class="row">
        <div class="small-12 columns">
          <h2>Past Goals</h2>
          <%= render 'past_goals_table' %>
          <%= paginate @past_goals,
            param_name: :past_goals_page %>
        </div>
      </div>
    <% end %>
    <% end %>
</div>


