<% if @user = current_user %>
  <h1>Your goals</h1>
<% else %>
<h1><%= @user.first_name %>'s goals</h1>
<% end %>
<% if @user.goals.empty? && @user != current_user %>
  <h2>User has no goals</h2>
<% elsif @user.goals.active.empty? && @user == current_user %>
  <h2>You have no goals! Create one: </h2>
  <%= link_to "Create a Goal", new_goal_path, :method => "get" %>
    <div class="row">
      <div class="small-12 columns">
        <h2>Past Goals</h2>
        <%= render 'past_goals_table' %>
      </div>
    </div>
<% else %>
  <div class="row">
    <div class="small-12 columns">
      <h2>Active Goals</h2>
      <table>
        <tr>
          <thead>
            <th>Title</th>
            <th>Starting Point</th>
            <th>Target</th>
            <th>Goal Date</th>
          </thead>
        </tr>
          <% @user.goals.active.each do |goal| %>
            <tr>
              <td><%= link_to "#{goal.title}", goal_path(goal) %></td>
              <td><%= goal.starting_point %></td>
              <td><%= goal.target%></td>
              <td><%= goal.end_date.strftime("%B %d, %Y") %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <% if @user == current_user %>
          <h2><%= link_to "Create Another Goal", new_goal_path, :method => "get" %></h2>
        <% end %>
      </div>
    </div>
    <% if @user.goals.past.any? %>
      <div class="row">
        <div class="small-12 columns">
          <h2>Past Goals</h2>
            <%= render 'past_goals_table' %>
        </div>
      </div>
    <% end %>
    <% end %>
</div>


