<% if @user != nil %>
  <% if @user.goals.any? %>
    <% if @user.goals.active == nil %>
      <h1><%= "Hi #{@user.first_name}" %></h1>

      <p>You have no active goals!</p>
      <p><%=link_to "Come to Goalivate and create one now.", new_goal_path %></p>

    <% else %>
      <h1><%= "Hello #{@user.first_name}" %></h1>

      <p><%= "Here are your upcoming checkpoints for this week" %></p>
      <% @user.goals.active.each do |goal| %>
          <%= "#{pluralize("%g" % ("%.2f" % goal.checkpoints.last.target),
          goal.unit_of_measurement)} by
          #{goal.checkpoints.last.complete_by.strftime("%B %d, %Y")}" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
