<h2>Goal:</h2>
<table>
  <th>Exercise</th>
  <th>Starting Reps</th>
  <th>Goal Reps</th>
  <th>Goal Date</th>
      <tr>
        <td><%= @goal.exercise.name.capitalize %></td>
        <td><%= @goal.starting_max %></td>
        <td><%= @goal.target_max %></td>
        <td><%= @goal.end_date.strftime("%B %d, %Y") %></td>
      </tr>
</table>
<% if @goal.completed? == true %>
  <h3>Congrats!</h3>
  <p>You hit your goal now do some dancing</p>
<% elsif @goal.end_date_has_passed? %>
  <h3>You're goal date has passed, I'm sorry. But feel free to extend your goal date</h3>
    <h3>Checkpoints:</h3>
    <table>
      <th>Complete By:</th>
      <th>Target</th>
      <th>User input</th>
        <% @goal.checkpoints.each do |checkpoint| %>
          <tr>
            <td><%= checkpoint.complete_by.strftime("%B %d, %Y") %></td>
            <td><%= checkpoint.target %></td>
            <td><%= checkpoint.user_input %></td>
          </tr>
        <% end %>
    </table>
<% else %>
  <h3>Checkpoints:</h3>
    <table>
      <th>Complete By:</th>
      <th>Target</th>
      <th>User input</th>
        <% @goal.checkpoints.each do |checkpoint| %>
          <tr>
            <td><%= checkpoint.complete_by.strftime("%B %d, %Y") %></td>
            <td><%= checkpoint.target %></td>
            <td><%= checkpoint.user_input %></td>
          </tr>
        <% end %>

        <tr align="center"><td COLSPAN=3><%= link_to 'Update Checkpoint', edit_goal_checkpoint_path(@goal, @goal.checkpoints.last) %></td></tr>
    </table>
<% end %>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Delete Goal', goal_path(@goal), method: :delete %> |
<%= link_to 'Back To User', user_path(@user) %>
