<h2>Goal:</h2>
<table>
  <th>Exercise</th>
  <th>Starting Strength</th>
  <th>Goal Weight</th>
  <th>Goal Date</th>
      <tr>
        <td><%= @goal.exercise.name.capitalize %></td>
        <td><%= @goal.starting_max %></td>
        <td><%= @goal.target_max %></td>
        <td><%= @goal.end_date.strftime("%B %u, %Y") %></td>
      </tr>
</table>

<%= link_to 'Edit', edit_goal_path(@goal) %>
<%= link_to 'Delete', goal_path(@goal), method: :delete %>
<%= link_to 'Back To User', user_path(@user) %>
