<h2>Goal:</h2>
<table class="responsive">
  <tr>
    <thead>
      <th>Title</th>
      <th>Starting Reps</th>
      <th>Goal Reps</th>
      <th>Goal Date</th>
    </thead>
  </tr>
        <tr>
          <td><%= @goal.title %></td>
          <td><%= @goal.starting_point %></td>
          <td><%= @goal.target %></td>
          <td><%= @goal.end_date.strftime("%B %d, %Y") %></td>
        </tr>
</table>
<% if @goal.completed_on != nil %>
  <h3>Congrats!</h3>
  <p>You hit your goal now do some dancing</p>
  <%= render 'goals_checkpoints' %>
<% elsif @goal.end_date_has_passed? %>
  <h3>You're end date for the goal has passed.</h3>
    <h3>Checkpoints:</h3>
    <table>
      <tr>
        <thead>
          <th>Complete By:</th>
          <th>Target</th>
          <th>User input</th>
        </thead>
      </tr>
        <% @goal.checkpoints.each do |checkpoint| %>
          <tr>
            <td><%= checkpoint.complete_by.strftime("%B %d, %Y") %></td>
            <td><%= checkpoint.target %></td>
            <td><%= checkpoint.user_input %></td>
          </tr>
        <% end %>
    </table>
<% else %>
  <h3>Checkpoints:</h3>
    <table>
      <tr>
        <thead>
          <th>Complete By:</th>
          <th>Target</th>
          <th>User input</th>
        </thead>
      </tr>
        <% @goal.checkpoints.each do |checkpoint| %>
          <tr>
            <td><%= checkpoint.complete_by.strftime("%B %d, %Y") %></td>
            <td><%= checkpoint.target %></td>
            <td><%= checkpoint.user_input %></td>
          </tr>
        <% end %>
          <tr align="center"><td COLSPAN=3><%= link_to 'Update Checkpoint', edit_goal_checkpoint_path(@goal, @goal.checkpoints.last) %></td></tr>
    </table>
<% end %>

<% if @goal.completed_on == nil %>
  <%= link_to 'Edit', edit_goal_path(@goal) %> |
  <%= link_to 'Delete Goal', goal_path(@goal), method: :delete %> |
<% end %>
<%= link_to 'Back To User', user_path(@user) %>
