<!DOCTYPE html>
<html>
<head>
   <title><%= content_for?(:title) ? yield(:title) : "JackFit" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="top-bar">
  <ul class="title-area">


  <section class="top-bar-section">
    <% if user_signed_in? %>
      <ul class="right">
        <li>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
      <ul class="left">
        <li>
          <%= link_to 'My Goals', current_user %>
        </li>
      </ul>
      <% else %>
      <ul class="right">
        <li>
          <%= link_to 'Sign Up', new_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Sign In', new_user_session_path %>
        </li>
      </ul>

    <% end %>
  </section>
</nav>
<div class='flash'>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= yield %>
  </div>
</div>
<div class="footer">
  <ul>
    <li>
      <%= link_to 'Contact Us', new_contact_inquiry_path %>
    </li>
  </ul>

</body>
</html>
