<!DOCTYPE html>
<html>
  <head>
     <title><%= content_for?(:title) ? yield(:title) : "Goalivate" %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
    <body>
        <div class="container">
          <%= render "layouts/navigation" %>
          <div class="row">
            <div class="small-12 columns">
              <% if flash.any? %>
                <div class='alert-box'>
                  <% flash.each do |name, msg| -%>
                    <%= content_tag :div, msg, class: name %>
                  <% end -%>
                </div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="content-box">
                <%= yield %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <%= render 'layouts/footer' %>
            </div>
          </div>
        </div>
      <%= javascript_include_tag "application" %>
    </body>
</html>
